<MudPaper Class="pa-4">
    <MudSkeleton Class="mb-6" SkeletonType="SkeletonType.Rectangle" Width="400px" Height="40px" />
    <MudSkeleton Class="mb-6" SkeletonType="SkeletonType.Rectangle" Width="400px" Height="40px" />
    <MudSkeleton Class="mb-6" SkeletonType="SkeletonType.Rectangle" Width="400px" Height="40px" />
    <MudSkeleton Class="mb-6" SkeletonType="SkeletonType.Rectangle" Width="400px" Height="40px" />

    <div class="mt-4 d-flex flex-grow-1  gap-2">
        <MudSkeleton Class="mb-6" SkeletonType="SkeletonType.Rectangle" Width="195px" Height="40px" />
        <MudSkeleton Class="mb-6" SkeletonType="SkeletonType.Rectangle" Width="195px" Height="40px" />
    </div>

    <div class="mt-4 d-flex justify-end flex-grow-1 gap-2">
        <MudSkeleton Class="mb-6 mud-theme-secondary" SkeletonType="SkeletonType.Rectangle" Width="110px" Height="40px" />
        <MudSkeleton Class="mb-6 mud-theme-primary" SkeletonType="SkeletonType.Rectangle" Width="110px" Height="40px" />
    </div>
</MudPaper>